/*
 *  $Id: sample1.cfg 2416 2012-09-07 08:06:20Z ertl-hiro $
 */

/*
 *  ����ץ�ץ������(1)�Υ����ƥॳ��ե�����졼�����ե�����
 */
INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
// INCLUDE("syssvc/logtask.cfg");
INCLUDE("ai_mini4wd.cfg");

#include "ai_mini4wd_os.h"
CRE_TSK(IO_TASK,      { TA_ACT, 0, io_scheduler_task, LOW_PRIORITY,  IO_STACK_SIZE, NULL });
CRE_TSK(MPYTHON_TASK, { TA_ACT, 0, upython_task,      MAIN_PRIORITY, MAIN_STACK_SIZE, NULL });

CRE_CYC(CYCHDR1, { TA_NULL, 0, cyclic_handler, 2000, 0 });

DEF_EXC(CPUEXC1, { TA_NULL, cpuexc_handler });

CRE_FLG(SENSOR_FLG, { TA_CLR, 0UL } );
CRE_FLG(IO_FLG, { TA_CLR, 0UL } );
CRE_SEM(IO_SEM, { TA_NULL, 1, 1});
CRE_DTQ(IO_DTQ, { TA_TPRI, 5, NULL});
